<div class="col">
    <div class="card rounded-3 machine-card">
        <div class="card-header py-3">
            <label>@Machine.Name | @Machine.Description</label>
        </div>
        <div class="card-body machine-card text-center">
@*            <div class="mb-3">
                <img src="@($"/img/robot{Machine.Id}.jpg")" class="machine-card" /> 
            </div>*@
            <button class="btn btn-primary btn-sm mb-1"
            @onclick="@(async() => await MachineQuickViewClicked.InvokeAsync(Machine))"
            >Quick View</button>
        </div>
    </div>
</div>

